body {
	font-family: sans-serif;
}

.headeline {
	padding-top: 60px; 
}

.headeline h1 {
	font-weight: 700;
	margin: 0;
}

.headeline h3 {
	font-size: 20px;
	font-weight: 100;
	margin: 0;
}

.profile {
	width: 100%;
}